.sidebar {
  float:left;
  width: 25%;
  font-size: 20px;
  font-family: sans-serif;
}
.about {
  float:left;
  width: 70%;
  font-size: 20px;
  text-align: justify;
  font-family: sans-serif;
}
.sidebar {
  color:blue;
  margin: 15px;
  border: 2px solid blue;
  padding: 1%;
  background-color: lightblue;
}
.tour {
  text-align: center;
}

img {
  width: 30%;
  height: auto;
}

.box {
  margin: 60px;
  border: 2px solid grey;
  padding-left: 3%;
  background-color: lightgrey;
  padding-right: 3%;
  box-sizing: content-box;
  align-content: center;
