.sidebar {
  float:left;
  width: 25%;
  padding: 1%;
  margin: 2%
  font-size: 20px;
  font-family: sans-serif;
}
.about {
  float:left;
  width: 70%;
  font-size: 20px;
  text-align: justify;
  font-family: sans-serif;
}
.sidebar {
  color:blue;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid blue;
  padding: 1%;
  background-color: lightblue;
}
.tour {
  text-align: center;
}

img {
  width: 20%;
  height: auto;
  float: right;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
